body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellow;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: linear-gradient(to bottom, black);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: yellow;
    text-align: center;
    padding: 30px;
}

.poll-question {
    font-size: 24px;
    margin-bottom: 20px;
}

.poll-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: yellow;
}

.vote-button {
    background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.vote-button:hover {
    background-color: yellow;
}

.results {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.results-title {
    font-size: 20px;
}

.results-count {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 10px;
}

.count {
    font-weight: bold;
}